{% extends "../base.html" %}


{% load static %}


{% block title %}Inicio {{ block.super }} {% endblock %}


{% block content %}
    <div class="container">
        <div class="row m-5">
            <h1>Home</h1>
            <hr>
            {% if user.is_authenticated %}
                <p>Hola, {{ user.get_full_name }}</p>
                <p><a href="{% url 'accounts:signout' %}">Cerrar sesión</a></p>
            {% else %}
                <p><a href="{% url 'accounts:signin' %}">Iniciar sesión</a></p>
            {% endif %}
        </div>
        <div class="row">
            <div class="text-center">
                <img src="{% static 'img/logo.png' %}" alt="logo" width="200">
                {% if user.is_authenticated %}
                    <img src="media/{{ user.photo }}" alt="profile photo" width="200">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}