<div class="modal fade" id="update_{{ user.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="exampleModalLabel"><i class="fas fa-pen"></i> &nbsp; Modificar permisos a {{ user.get_full_name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'adminstore:users' %}" method="POST" class="text-start">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <input type="hidden" name="_method" value="put">
                            <input type="hidden" name="id" value="{{ user.pk }}">
                            <div class="my-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="is_staff" id="is_staff_1" value="1" {% if user.is_staff %} checked {% endif %}>
                                    <label class="form-check-label" for="is_staff_1">
                                        Asignar permisos de administrador.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="is_staff" id="is_staff_2" value="0" {% if not user.is_staff %} checked {% endif %}>
                                    <label class="form-check-label" for="is_staff_2">
                                        Remover permisos de administrador.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-warning">Modificar</button>
                </div>
            </form>
        </div>
    </div>
</div>