{% extends "../base.html" %}


{% load static %}


{% block title %} Inicio de sesión {{ block.super }} {% endblock %}


{% block content %}
    <div class="container">
        <h2 class="mt-2 fw-bold">Inicio de sesión</h2>
        <small>¿No tienes una cuenta? <a href="{% url 'accounts:signup' %}">Registrate</a></small>

        <form id="signin_form" action="{% url 'accounts:signin' %}" method="POST" class="mt-5">
            {% csrf_token %}
            <div class="row">
                <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-10">
                    <div class="mb-4">
                        <label for="username" class="form-label fw-bold">Nombre de usuario <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>

                    <div class="mb-2">
                        <label for="password" class="form-label fw-bold">Contraseña <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" name="password" required>
                            <span class="input-group-text" id="show" onclick="show_password('password', 'show')"><i class="fas fa-eye-slash"></i></span>
                        </div>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" id="remember-me" name="remember-me">
                        <label class="form-check-label" for="remember-me">
                            <small>Recordarme</small>
                        </label>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-5">
                        <button type="submit" class="btn btn-primary">
                            Iniciar sesión
                        </button>
                    </div>

                    <div class="mt-2 text-center">
                        <a href="{% url 'accounts:ask-reset-password' %}"><small>¿Olvidaste tu contraseña?</small></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}


{% block js %}
    <script src="{% static 'js/accounts/show_password.js' %}"></script>
{% endblock %}