tr th,
tr td {
    vertical-align: middle;
}

.deletelink {
    height: 45px !important;
}

html[data-theme="light"],
:root {
    --primary: #5F9DF7;
    --secondary: #0D4C92;
    --accent: #f5dd5d;
    --primary-fg: #fff;

    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: #666;
    --body-loud-color: #2d2d2d;

    --header-color: #ffc;
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--primary-fg);

    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);

    --link-fg: #417893;
    --link-hover-color: #036;
    --link-selected-fg: #5b80b2;

    --hairline-color: #e8e8e8;
    --border-color: #ccc;

    --error-fg: #ba2121;

    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;

    --darkened-bg: #fff;
    --selected-bg: #fff;
    --selected-row: #f8f9fa;

    --button-fg: #fff;
    --button-bg: var(--primary);
    --button-hover-bg: #4c7dc5;
    --default-button-bg: var(--secondary);
    --default-button-hover-bg: #0a3c74;
    --close-button-bg: #19A7CE;
    --close-button-hover-bg: #146C94;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
}