/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none !important;
}

.my-btn {
    border-radius: 50px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
}


/* Profile styles */

.invalid-field {
    border: 2px solid red !important;
}
#profile-photo-container {
    position: relative;
}
#profile-photo-edit-btn {
    position: absolute;
    bottom: 0;
    border-radius: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
#profile-photo-edit-menu {
    display: none;
    position: absolute;
    bottom: -105px;
    right: 20px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #cccccc;
}
#profile-photo-edit-menu a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333333;
}
#profile-photo-edit-menu a:hover {
    background-color: #f0f0f0;
}
.img-container {
    position: relative;
    display: inline-block;
}
.img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f6dfa4;
    transform: rotate(-10deg);
    z-index: -1;
}
.img-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #261b17;
    transform: rotate(-7deg);
    z-index: -1;
}
.border-container {
    position: relative;
    display: inline-block;
}
.border-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #2d2d2d;
    border-radius: 8px;
    transform: rotate(-10deg);
    z-index: -1;
}


/* About Us styles */

.bg-custom {
    background-color:  #00B6BD;
}
.bg-custom1 {
    background-color: #F5F7FF;
}
.carousel-item {
    color: white;
    text-shadow: 2px 2px 4px #2d2d2d;
}


/* Product Detail styles */

.product-list {
    padding: 5px;
}
.product-list:hover {
    border: 2px solid #00B6BD;
}
.product.carousel-indicators [data-bs-target] {
    height: 10px;
    width: 10px;
    margin-left: 7px;
    margin-right: 7px;
    border-radius: 10px;
    border: 0;
}
.my-star {
    cursor: pointer;
}