<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="width:210px;">
    <div class="carousel-inner text-center">
      {% for product in products %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="../../../media/{{ product.photo }}" width="200" alt="product">
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" style="filter:invert(100%);">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next" style="filter:invert(100%);">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>