{% load static %}
<header>
    <div class="bg-dark p-2">
        <div class="container-md d-flex justify-content-end align-items-center gap-3">
            <span class="text-light align-middle fw-semibold">Contáctenos: (+57) 300 000 0000</span>
            <a href="https://es-la.facebook.com/" target="_blank"><img src="{% static 'svg/facebook.svg' %}" class="img-fluid" width="25px" alt="Facebook icon"/></a>
            <a href="https://instagram.com/" target="_blank"><img src="{% static 'svg/instagram.svg' %}" class="img-fluid" width="25px" alt="Instagram icon"/></a>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-body-light border-bottom">
        <div class="container-md">
            <a class="navbar-brand d-inline-block align-text-middle" href="/">
                <img src="{% static 'img/logo_2.png' %}" alt="Logo" width="50">
                <strong>Tecnobox</strong>
            </a>
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 fw-semibold gap-lg-3">
              <li class="nav-item">
                <a class="nav-link {% if path == '/' %}active{% endif %}" aria-current="page" href="{% url 'shop:home' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if path == '/products/' %}active{% endif %}" href="{% url 'shop:products' %}">Catálogo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-inline-block align-text-middle {% if path == '/discounts/' %}active{% endif %}" href="{% url 'shop:discounts' %}"><img src="{% static 'svg/sales.svg' %}" width="15"/>Ofertas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if path == '/about-us/' %}active{% endif %}" href="{% url 'shop:about-us' %}">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if path == '/contact-us/' %}active{% endif %}" href="{% url 'shop:contact-us' %}">Contacto</a>
              </li>
            </ul>
          </div>
          {% if user.is_authenticated %}
          <div class="d-flex gap-3">
            <div class="position-relative">
              <a href="{% url 'shop:cart'%}">
                  <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger">
                  {{products_cart_count}}
                  </span>
                  <img src="{% static 'svg/cart.svg' %}"  alt="Cart" width="40">
              </a> 
             </div>
                <div class="btn-group">
                    <img src="{% if user.photo %}../../media/{{ user.photo }} {% else %}{% static 'img/default.jpg' %}{% endif %}" width="40" class="rounded-circle dropdown-toggle pointer border border-dark border-2" data-bs-toggle="dropdown" aria-expanded="false" type="button">
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">Mi perfil</a></li>
                    {% if user.is_staff %}
                    <li><a class="dropdown-item" href="{% url 'adminstore:metrics' %}">Administrador</a></li>
                    {% endif %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'accounts:signout' %}">Cerrar sesión</a></li>
                    </ul>
                </div>
          </div>
          {% else %}
          <div class="d-flex gap-2">
            <a type="button" class="btn btn-outline-primary" href="{% url 'accounts:signin' %}">Iniciar Sesión</a>
            <a type="button" class="btn btn-primary" href="{% url 'accounts:signup' %}">Registrarse</a>
          </div>
          {% endif %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
</header>