{% extends "../base.html" %}

{% load static %}
{% load humanize %}

{% block title %}Carrito {{ block.super }} {% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="fw-bold">Carrito de Compras</h2>
    <hr>
    <!-- Aqui empezamos con la sesion donde se agregan los productos que se van a comprar, con sus diferentes especificaciones -->
    <div class="row">
      <div class="col-md-8">
        {% if products %}
        <table class="table">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Detalle</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            {%for product in products%}
            <tr>
              <td>
                <a href="{% url 'shop:detail' product.product.id %}">
                  <img src="{{product.product.photos.first.photo.url}}" alt="Imagen del Producto" class="img-thumbnail">
                </a>
              </td>
              <td>
                <p>{{product.product.name}}</p>
                <p>{{product.product.description}}</p>
              </td>
              <td>${{product.price_with_discount | intcomma}}</td>
              <td>
                <a class="btn btn-oval btn-sm" title="Disminuir" href="{% url 'shop:decrease-quantity' product.product.id %}">
                  <i class="fas fa-minus text-danger"></i>
                </a>
                <span>{{ product.amount }}</span>
                <a class="btn btn-oval btn-sm" title="Aumentar" href="{% url 'shop:increase-quantity' product.product.id %}">
                  <i class="fas fa-plus text-success"></i>
                </a>
              </td>
              <td>${{product.subtotal | intcomma}}</td>
              <td>
                <a class="btn btn-sm" title="Eliminar" href="{% url 'shop:remove-from-cart' product.product.id %}"> <i class="fas fa-trash-alt" style="color: #ff0000;"></i></a>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
        {% else %}
        <div class="alert alert-secondary" role="alert">
          Aún no hay productos en tu carrito de compras!
        </div>
        {% endif %}

        <!-- En esta parte agrego los dos botones (Continuar Compra y Vaciar carrito) -->
        <div class="text-start my-5">
          <a class="btn btn-primary" href="{% url 'shop:home' %}">Continuar Comprando</a>
          <a class="btn btn-danger {% if products %} {% else %} disabled {% endif%}" href="{% url 'shop:empty-cart' %}">Vaciar Carrito</a>
        </div>
      </div>

      <!-- En esta sesion agrego el elemento de Resumen de compra, utilizando un atributo card -->
      <div class="col-md-4">
        <div class="card border-0" style="background-color: #F5F7FF;">
          <div class="card-body">
            <h5 class="card-title">Resumen de Compra</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th>Envío:</th>
                  <td class="text-success fw-bold">Gratis</td>
                </tr>
                <tr>
                  <th>Total:</th>
                  <td>${{total_price | intcomma}}</td>
                </tr>
                <tr>
                  <th>Ahorro:</th>
                  <td>${{total_discount | intcomma}}</td>
              </tbody>
            </table>
            <a class="btn btn-success {% if products %} {% else %} disabled {% endif%}" href="{% url 'shop:purchase' %}">Pagar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}