{% extends "../base.html" %}


{% load static %}


{% block title %}Inicio {{ block.super }} {% endblock %}


{% block content %}
    <div class="container mt-5">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'img/banner_home_1.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/banner_home_2.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/banner_home_3.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            
            {% include 'includes/addi_bar.html' %}
        
            <section class="mt-5">
                <div class="d-flex justify-content-between">
                    <h4 class="fw-bold">Nuestras últimas ofertas</h4>
                    <a href="#">Ver todas las ofertas</a>
                </div>
                <hr>
                {% include 'includes/discount_products_list.html' with products=products_discount %}
            </section>
            <section class="row d-flex justify-content-around mt-5">
              <div class="col-sm-4 d-flex flex-column justify-content-center text-center">
                  <div class="bg-danger rounded-circle d-flex justify-content-center align-items-center m-auto mb-3" style="width: 80px; height: 80px;">
                    <i class="fas fa-headset fa-lg text-light fs-1"></i>
                  </div>
                <span class="fw-bold">Soporte del producto</span>
                <p class="text-secondary fw-light">Hasta 2 años de garantía disponible para su tranquilidad.</p>
              </div>
              <div class="col-sm-4 d-flex flex-column justify-content-center text-center">
                <div class="bg-danger rounded-circle d-flex justify-content-center align-items-center m-auto mb-3" style="width: 80px; height: 80px;">
                  <i class="fas fa-user-circle fa-lg text-light fs-1"></i>
                </div>
                <span class="fw-bold">Cuenta personal</span>
                <p class="text-secondary fw-light">Con grandes descuentos, entrega gratuita y soporte dedicado.</p>
              </div>
              <div class="col-sm-4 d-flex flex-column justify-content-center text-center">
                <div class="bg-danger rounded-circle d-flex justify-content-center align-items-center m-auto mb-3" style="width: 80px; height: 80px;">
                  <i class="fas fa-percent fa-lg text-light fs-1"></i>
                </div>
                <span class="fw-bold">Increíbles ahorros</span>
                <p class="text-secondary fw-light">Hasta un 70% de descuento en nuevos productos.</p>
              </div>
            </section>
            <section class="mt-5">
              <div class="d-flex justify-content-between">
                <h4 class="fw-bold">Nuestros últimos productos</h4>
                <a href="{% url 'shop:products' %}">Ver todos los productos</a>
              </div>
                <hr>
                {% include 'includes/products_list.html' with products=products %}
            </section>
        
    </div>
{% endblock %}