{% extends "../base.html" %}


{% load static %}


{% block title %}Términos y condiciones de uso {{ block.super }} {% endblock %}


{% block content %}
    <section class="terms mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="bg-custom1"><strong>Términos y condiciones de uso</strong></h1>
                    <h5 class="pt-4">TÉRMINOS Y CONDICIONES GENERALES PARA LA VENTA DE PRODUCTOS Y SERVICIOS.</h5>
                    <p>
                        Estos términos y condiciones rigen el uso de nuestro sitio web y la compra de
                        productos a través de nuestra tienda virtual.
                    </p>

                    <!-- Condiciones de venta -->
                    <h5 class="bg-custom1 mt-5"><strong>Política de privacidad</strong></h5>
                    <p class="px-4">
                        Información personal recopilada: Recolectamos información personal cuando te registras
                        en nuestra página web, realizas una compra, te suscribes a nuestro boletín informativo
                        o nos contactas a través de nuestro formulario de contacto. Esta información puede
                        incluir tu nombre, dirección, correo electrónico, número de teléfono y otra información
                        relevante.
                        <br><br>
                        Uso de la información personal: Utilizamos tu información personal para procesar tus
                        compras, enviar correos electrónicos de confirmación, proporcionarte información sobre
                        tus pedidos y enviar boletines informativos y promociones. También podemos utilizar tu
                        información personal para mejorar la calidad de nuestro servicio.
                        <br><br>
                        Compartir la información personal: No compartimos tu información personal con terceros,
                        excepto cuando sea necesario para procesar tus pedidos (por ejemplo, con nuestros
                        proveedores de envío) o si estamos obligados por la ley.
                        <br><br>
                        Cookies y tecnología similar: Utilizamos cookies y tecnologías similares para mejorar
                        tu experiencia en nuestra página web y para analizar cómo los usuarios interactúan con
                        ella. Puedes optar por no aceptar cookies en tu navegador, pero esto puede limitar
                        algunas funciones de nuestra página web.
                        <br><br>
                        Seguridad de la información personal: Tomamos medidas para proteger tu información
                        personal de acceso no autorizado, alteración o divulgación. Utilizamos tecnologías de
                        seguridad estándar de la industria y tomamos medidas adicionales para garantizar la
                        protección de tu información.
                        <br><br>
                        Tus derechos: Tienes derecho a acceder, corregir o eliminar tu información personal en
                        cualquier momento. También puedes optar por no recibir correos electrónicos
                        promocionales de nuestra parte en cualquier momento. Para ejercer estos derechos,
                        contáctanos a través de nuestro formulario de contacto.
                    </p>

                    <!-- Condiciones de venta -->
                    <h5 class="bg-custom1 mt-5"><strong>Condiciones de venta</strong></h5>
                    <p class="px-4">
                        Precios: Todos los precios de nuestros productos están en la moneda local y no
                        incluyen impuestos, envío o gastos de manejo adicionales.
                        <br><br>
                        Disponibilidad: Nos esforzamos por mantener actualizado nuestro inventario en línea,
                        pero en ocasiones puede haber errores en la disponibilidad de productos. Si un
                        producto que has pedido no está disponible, te notificaremos lo antes posible y te
                        ofreceremos opciones para un reembolso o un producto de sustitución.
                        <br><br>
                        Garantía: Todos nuestros productos tienen una garantía de [número de días/meses/años]
                        a partir de la fecha de compra. La garantía cubre defectos de fabricación y no cubre
                        daños causados por el uso inadecuado o el desgaste normal.
                        <br><br>
                        Pago: Aceptamos los siguientes métodos de pago: [Tarjetas de credito y debito,
                        Paypal, PSE, Cuppy]. Tu tarjeta de crédito será cargada en el momento de la compra.
                        <br><br>
                        Propiedad intelectual: Todos los derechos de propiedad intelectual relacionados con
                        nuestros productos, incluyendo pero no limitado a patentes, marcas registradas,
                        diseños y derechos de autor, son propiedad de nuestra tienda online y están
                        protegidos por las leyes de propiedad intelectual aplicables.
                    </p>

                    <!-- Condiciones de venta -->
                    <h5 class="bg-custom1 mt-5"><strong>Política de envío y devoluciones</strong></h5>
                    <p class="px-4">
                        Envío: Procesamos los pedidos y los enviamos dentro de los plazos especificados en
                        nuestra página web. El tiempo de entrega dependerá del destino y de la
                        disponibilidad del producto. No nos hacemos responsables de retrasos en la entrega
                        debido a circunstancias fuera de nuestro control.
                        <br><br>
                        Devoluciones: Aceptamos devoluciones dentro de un plazo de [número de días] días
                        desde la recepción del producto, siempre y cuando el producto esté en su estado
                        original y no haya sido usado. Los costos de envío para la devolución son
                        responsabilidad del comprador, a menos que el producto haya sido recibido en mal
                        estado.
                    </p>

                    <!-- Condiciones de venta -->
                    <h5 class="bg-custom1 mt-5"><strong>Términos de uso del sitio web</strong></h5>
                    <p class="px-4">
                        Contenido de la página web: Todo el contenido de nuestra página web, incluyendo pero no
                        limitado a texto, imágenes, videos, logotipos y diseños, es propiedad de nuestra tienda
                        en línea y está protegido por las leyes de propiedad intelectual aplicables. No está
                        permitido copiar, reproducir, distribuir o utilizar el contenido de nuestra página web
                        sin nuestro consentimiento previo por escrito.
                        <br><br>
                        Registro y seguridad: Para realizar una compra en nuestra tienda en línea, deberás
                        registrarte y proporcionar información precisa y completa. Es tu responsabilidad
                        mantener tu información de registro actualizada y segura. No está permitido utilizar la
                        cuenta de otro usuario sin su consentimiento.
                        <br><br>
                        Uso prohibido: No está permitido utilizar nuestra página web con fines ilegales o
                        fraudulentos, ni para enviar correos electrónicos no solicitados o spam. No está
                        permitido utilizar nuestro sitio web de manera que pueda dañar, deshabilitar o afectar
                        negativamente el funcionamiento de nuestra página web o de cualquier servidor o red
                        conectados a nuestra página web.
                        <br><br>
                        Comentarios y reseñas: Te invitamos a dejar comentarios y reseñas sobre nuestros
                        productos en nuestra página web. Sin embargo, nos reservamos el derecho de eliminar
                        comentarios o reseñas que consideremos inapropiados, difamatorios o que violen los
                        derechos de terceros.
                        <br><br>
                        Limitación de responsabilidad: No nos hacemos responsables por daños directos,
                        indirectos, incidentales, especiales o consecuentes, incluyendo pero no limitado a la
                        pérdida de ingresos, beneficios o información, que resulten del uso o la imposibilidad
                        de uso de nuestra página web.
                        <br><br>
                        Modificaciones de los términos de uso: Nos reservamos el derecho de modificar estos
                        términos de uso en cualquier momento sin previo aviso. Es tu responsabilidad revisar
                        estos términos de uso periódicamente para conocer los cambios.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}