{% extends "../../base.html" %}


{% load static %}


{% block title %} Registro de usuarios {{ block.super }} {% endblock %}


{% block content %}
    <div class="container">
        <h2 class="mt-2 fw-bold">Crear cuenta de usuario</h2>
        <small>¿Ya tienes una cuenta? <a href="{% url 'accounts:signin' %}">Inicia sesión</a></small>

        <form id="signup_form" class="mt-5" action="{% url 'accounts:signup' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6">
                    <h6 class="fw-bold">Información personal</h6>
                    <hr>

                    <div class="mb-4">
                        <label for="first_name" class="form-label fw-bold">Nombres <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="first_name" name="first_name" required>
                    </div>

                    <div class="mb-4">
                        <label for="last_name" class="form-label fw-bold">Apellidos <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="last_name" name="last_name" required>
                    </div>

                    <div class="mb-4">
                        <label for="birthdate" class="form-label fw-bold">Fecha de nacimiento <span class="text-danger">*</span></label>
                        <input type="date" class="form-control" id="birthdate" name="birthdate" onchange="validate_birthdate()" required>
                        <small class="text-danger" id="birthdate-help"></small>
                    </div>

                    <div class="mb-4">
                        <label for="address" class="form-label fw-bold">Dirección del domicilio <span class="text-danger">*</span></label>
                        <input type="text" class="form-control mb-2" id="address" name="address" required>
                    </div>

                    <div class="mb-4">
                        <label for="region" class="form-label fw-bold">Departamento <span class="text-danger">*</span></label>
                        <select class="form-select" id="region" name="region" required>
                            <option selected></option>
                            {% for region in regions %}
                                <option value="{{ region.id }}">{{ region.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-4">
                        <label for="city" class="form-label fw-bold">Ciudad <span class="text-danger">*</span></label>
                        <select class="form-select" id="city" name="city" required>
                            <option selected></option>
                        </select>
                    </div>

                    <div class="mb-4">
                        <label for="phone" class="form-label fw-bold">Número de teléfono <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="phone" name="phone" onkeyup="validate_phone()" required>
                        <small class="text-danger" id="phone-help"></small>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-5 col-md-6">
                    <div class="mb-4 mt-5">
                        <label for="email" class="form-label fw-bold">Correo electrónico <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="email" name="email" onkeyup="validate_email()" required>
                        <small class="text-danger" id="email-help"></small>
                    </div>

                    <div class="mb-4">
                        <label for="username" class="form-label fw-bold">Nombre de usuario <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="username" name="username" onkeyup="validate_username()" required>
                        <small class="text-danger" id="username-help"></small>
                    </div>

                    <div class="mb-4">
                        <label for="password1" class="form-label fw-bold">Contraseña <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password1" name="password1" onkeyup="validate_password()" required>
                            <span class="input-group-text" id="show1" onclick="show_password('password1', 'show1')"><i class="fas fa-eye-slash"></i></span>
                        </div>
                        <small class="text-danger" id="password1-help"></small>
                    </div>

                    <div class="mb-4">
                        <label for="password2" class="form-label fw-bold">Confirmar contraseña <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password2" name="password2" onkeyup="confirm_password()" required>
                            <span class="input-group-text" id="show2" onclick="show_password('password2', 'show2')"><i class="fas fa-eye-slash"></i></span>
                        </div>
                        <small class="text-danger" id="password2-help"></small>
                    </div>

                    <hr class="my-5">

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" id="check1" name="check1">
                        <label class="form-check-label" for="check1">
                            <small>
                                Autorizo el uso de mis datos de acuerdo a la <a href="#">declaración de privacidad</a>.
                            </small>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" id="check2" name="check2">
                        <label class="form-check-label" for="check2">
                            <small>
                                Acepto los <a href="#">términos y condiciones</a>.
                            </small>
                        </label>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5">
                        <button type="submit" class="btn btn-primary" id="submit-btn">
                            Crear cuenta
                        </button>
                    </div>

                    {% include 'accounts/signup/modal.html' %}
                </div>
            </div>
        </form>
    </div>
{% endblock content %}


{% block js %}
    <script src="{% static 'js/accounts/validators.js' %}"></script>
    <script src="{% static 'js/accounts/show_password.js' %}"></script>
    <script src="{% static 'js/accounts/dynamic_cities.js' %}"></script>
{% endblock %}