<div class="modal fade" id="delete_{{ discount.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="exampleModalLabel"><i class="fas fa-trash"></i> &nbsp; Eliminar descuento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'adminstore:discounts' %}" method="POST" class="text-start">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="id" value="{{ discount.pk }}">
                            <div class="my-2">
                                ¿Estás seguro de querer eliminar el descuento <strong>"{{ discount.name }}"</strong>?
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>